ColumnLimit: 120
ReferenceAlignment: Left
AllowShortLambdasOnASingleLine: Empty
IndentWidth: 4
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: None
BreakInheritanceList: BeforeComma
PackConstructorInitializers: Never
AlignArrayOfStructures: Right
BreakBeforeBraces: Custom
Cpp11BracedListStyle: false
BraceWrapping:
  AfterFunction: false
  SplitEmptyFunction: true
  BeforeElse: true
  BeforeCatch: true